@import "../../assets/stytes/variables.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-change {
    text-align: center;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    background-color: $form-bg-color;
    color: $text-color;
    border: 1px solid $form-border-color;

    h1 {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -1px;
      position: relative;
      color: $primary-color;
      padding-left: 40px;

      &::before,
      &::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        left: 10px;
        background-color: $primary-color;
        height: 18px;
        width: 18px;
        top: 50%;
        left: 0;
      }

      &::after {
        animation: pulse 1s linear infinite;
      }
    }

    .pass {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      margin-top: 20px;

      label {
        display: block;
        position: relative;
        input {
          background-color: $input-bg-color;
          color: $text-color;
          width: 100%;
          padding: 12px 5px;
          outline: 0;
          margin-bottom: 10px;
          border: 1px solid $input-border-color;
          border-radius: 10px;

          + span {
            color: $primary-color;
            position: absolute;
            left: 10px;
            top: 0px;
            font-size: 1rem;
            cursor: text;
            transition: 0.3s ease;
          }

          &:placeholder-shown + span {
            top: 12.5px;
            font-size: 1rem;
          }
        }
      }
    }

    .btn {
      margin-top: 20px;
      width: 100%;
      button {
        width: 100%;
        padding: 10px 15px;
        background-color: $primary-color;
        border: none;
        color: $text-color;
        border-radius: 10px;

        &:hover {
          background-color: $hover-bg-color;
        }
      }
    }
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}
