.line {
  width: 100%;
  height: 2px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  hr {
    width: 80%;
    height: 2px;
    background-color: rgba(117, 108, 108, 0.281);
  }
}

.filter {
  font-family: "myfont";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  .nav-navbar {
    display: flex;
    flex-direction: row;
    .filter-item {
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      margin-left: 10px;
      list-style: none;
      border: 1px solid #333;
      border-radius: 5px;
      transition: transform 0.3s ease;
      &:hover,
      &.active {
        cursor: pointer;
        background-color: aquamarine;
        border: none;
        box-shadow: 0 0 5px 5px hsla(0, 1%, 26%, 0.384);
      }
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.container-cart {
  font-family: "Myfont";
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .list-cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    .card {
      --accent-color: #ffd426;
      position: relative;
      background-color: #fff;
      border-radius: 1rem;
      width: calc(25% - 10px);
      margin: 5px;
      margin-top: 20px;
      padding: 10px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      &:hover {
        border: none;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
      }
      .image-container {
        position: relative;
        border-radius: 0.7rem;
        margin-bottom: 1rem;
        height: 350px;
        padding: 5px;
        .product-discount {
          position: absolute;
          top: -5px;
          right: -5px;
          background: #ff5a30;
          color: white;
          padding: 8px;
          font-size: 12px;
          border-radius: 50%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid hsla(0, 1%, 42%, 0.801);
          border-radius: 0.7rem;
        }
      }
      .price {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-top: -10px;
        margin-left: 14px;
        text-decoration: line-through;
        opacity: 0.3;
        span {
          margin-left: 5px;
        }
      }
      .price-new {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-top: -10px;
        margin-left: 14px;
        span {
          margin-left: 5px;
        }
      }

      .content {
        padding: 0px 0.8rem;
        margin-bottom: 1rem;
        height: 50px;
        .product-name {
          font-weight: 700;
          color: #666666;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.next-prev-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .next-page {
    width: 80%;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #999;
    span {
      padding: 10px;
    }
    .prev,
    .next {
      background-color: #fff;
      width: 30px;
      height: 60px;
      padding: 2px;
      font-size: 2rem;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: #60aef8;
      }
    }
    .ve-dau,
    .den-cuoi {
      width: 150px;
      height: 40px;
      border: none;
      background-color: #fff;
      color: #333;
      &:hover {
        color: #60aef8;
      }
    }
  }
}
