.productDetail-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'myfont';
    border: 10px solid hwb(0 95% 5%);
    background-color: hsl(0, 0%, 97%);
  
    .image-container {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
        .toggle {
            width: 15%;
            height: 60px;
            margin-right: 10px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            
            .toggle-img{
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                border-radius: 10px;
                border: 1px solid rgba(23, 23, 23, 0.1);
                .img-item {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover
                {
                 transform: scale(1.03);
                }
                .selected {
                  border: 1px solid rgba(23, 23, 23, 0.6);
                }
            }
           
        }
        .img {
            width: 85%;
            height: 100%;
            border: 10px solid hwb(0 93% 5%);
            border-radius: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
  
    .detail {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  
      .content {
        width: 100%;
        color: #333;
  
        .product-name {
          font-size: 2rem;
          font-weight: 600;
        }
  
        .price {
          font-size: 1.5rem;
          font-weight: 600;
        }
  
        .desc {
          margin-top: 10px;
          font-size: 1.2rem;
          color: #333;
        }
      }
  
      .size, .quantity {
          margin-top: 10px;
            label {
                font-size: 1.2rem;
                font-weight: 600;
                margin-right: 5px;
            }
            .btn-size,
            .btn-quantity {
              width: 33px;
              height: 33px;
              border-radius: 50%;
              margin: 10px;
              border: none;
              outline: none;
              &:hover,
              &.selected {
                cursor: pointer;
                color: #fff;
                background-color: rgb(247, 130, 101);
                transform: scale(1.2);
              }
            }
           
          }
    
        }
        .quantity {
          border: none;
          width: 300px;
            input {
              width: 50px;
              height: 35px;
              border-radius: 5px;
              padding: 5px;
              border: none;
              outline: none;
              font-size: 1.2rem;
              font-weight: 600;
              text-align: center;
            }
          }
         
        .btn-detail {
            margin-top: 30px;
            border-radius: 10px;
            color: #fff;
  
        .buy,
        .add-cart {
          font-size: 1.5rem;
          background-color: hsl(0, 80%, 60%);
          color: #fff;
          border: none;
          outline: none;
          border-radius: 10px;
          padding: 5px 10px;
          cursor: pointer;
  
          &:hover {
            background-color: hsl(0, 80%, 50%);
          }
        }
  
        .add-cart {
          margin-left: 30px;
        }
    }
}
