@import "../Scroolcart/Scroolcart.scss";
.productDetail-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "myfont";
  border: 10px solid hwb(0 95% 15%);
  background-color: hsl(0, 0%, 97%);

  .image-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border: 2px solid hwb(0 95% 15%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

    .toggle-list {
      display: flex;
      flex-direction: column;
      width: 22%;
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: 20px;
      .toggle-item {
        width: 100%;
        height: 90px;
        margin-bottom: 15px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        margin-right: 20px;
        .toggle-img {
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
          border-radius: 10px;
          border: 1px solid rgba(23, 23, 23, 0.1);
          .img-item {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 8px;
          }
          &:hover,
          &.selected {
            transform: scale(1.03);
            border: 2px solid rgba(240, 124, 124, 0.9);
          }
        }
      }
    }

    .img {
      width: 85%;
      height: 100%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: fill;
      }
    }
  }
  .detail-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -40px;
    .detail {
      border: 3px solid hwb(0 95% 15%);
      padding: 20px;
      margin-top: 30px;
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      .content {
        width: 100%;
        color: #333;
        margin-left: 10px;
        .product-name {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .price {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .size,
      .quantity {
        margin-top: 10px;
        margin-left: 10px;
        label {
          font-size: 1.2rem;
          font-weight: 600;
          margin-right: 5px;
        }
        .btn-size,
        .btn-quantity {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          margin: 10px;
          border: none;
          outline: none;
          &:hover,
          &.selected {
            cursor: pointer;
            color: #fff;
            background-color: rgb(247, 130, 101);
            transform: scale(1.2);
          }
        }
      }
    }
    .quantity {
      border: none;
      width: 300px;
      input {
        width: 50px;
        height: 35px;
        border-radius: 5px;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
      }
    }

    .btn-detail {
      margin-top: 30px;
      border-radius: 10px;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .buy,
      .add-cart {
        font-size: 1.5rem;
        background-color: hsl(0, 80%, 60%);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background-color: hsl(0, 80%, 50%);
        }
      }

      .add-cart {
        margin-left: 30px;
      }
    }
    .container-des {
      margin-top: 30px;
      .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        .benefit-item {
          display: flex;
          align-items: center;
          width: 48%;
          margin-bottom: 10px;
        }

        .benefit-icon {
          margin-right: 10px;
          font-size: 24px;
        }

        .benefit-text {
          font-size: 14px;
        }
      }

      .features {
        background-color: #f9f9f9;
        border-radius: 5px;
        .features h3 {
          margin-top: 0;
          margin-bottom: 10px;
        }

        .feature-list {
          list-style-type: none;
          padding-left: 0;
        }

        .feature-item {
          display: flex;
          align-items: flex-start;
          margin-bottom: 8px;
        }

        .feature-item:before {
          content: "✓";
          color: #4caf50;
          margin-right: 10px;
        }
      }
    }
  }
}
.products-container {
  .title {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    margin-left: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}
