.productDetail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'myfont';
    border: 1px solid #333;
    .image-container {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border: 1px solid #333;
        border-radius: 10px;
        padding: 20px;
        .btn-img {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .img {
            width: 100%;
            height: 400px;
            border: 1px solid #ece9e9;
            border-radius: 10px;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
       
    }

    .detail {
        width: 60%;
        display: flex;
        flex-direction: column;
        top: 0;
        margin-left: 20px;
        gap: 20px;
        .content {
            width: 100%;
            line-height: 25px;
            color: #333;
            .product-name {
                font-size: 2.5rem;
                font-weight: 600;
            }
            .price {
                font-size: 2rem;
                font-weight: 600;
            }
        }
        .size-color{
            display: flex;
            label{
                padding: 5px 10px;
                font-size: 1.2rem;
                font-weight: 600;
            }
            select{
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        .btn-detail {
            margin-top: 15px;
            border-radius: 10px;
            color: #fff;
            .buy, .add-cart {
                font-size: 1.5rem;
                background-color: hsl(0, 80%, 60%);
                color: #fff;
                border: none;
                outline: none;
                border-radius: 10px;
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background-color: hsl(0, 80%, 50%);
                }
            }
            .add-cart {
                margin-left: 20px;
            }    
        }
    }
}