.container {
    width: 100%;
    font-family: 'my-font';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    .form-sendPassword {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0 auto;
        border: none;
        border-radius: 10px;
        // background: linear-gradient(180deg, hsl(220, 4%, 55%), hsl(68, 13%, 88%));
        background-color: #1A1A1A;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        h1 {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            color: #00BFFF;
        }
        p {
            font-size: 1.2rem;
            text-align: center;
            color: #BBBBBB;
        }
        .getOtp,
        .reset-passWord {
            width: 100;
            display: flex;
            flex-direction: column;
            input {
                width: 80%;
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 5px;
                &:focus {
                    border: 1px solid #ccc;
                }
            }
            button {
                padding: 10px 20px;
               
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
        
            }
        }
        .getOtp {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .sendOtp {
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
              
                input {
                    width: 80%;
                    margin-right: 10px;
                }
                button {
                    width: 20%;
                    background-color: #00BFFF;
                }
            }
            .otp {
                width: 100%;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                span {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: color 0.3s;
                    color: #BBBBBB;
                }
                a{
                    width: 100%;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        .reset-passWord {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-size: 1.5rem;
                margin-bottom: 10px;
                font-weight: 600;
            }
            input {
                width: 80%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-bottom: 20px;
                &:focus {
                    border: 1px solid #ccc;
                }
            }
            .btn {
                width: 80%;
                background-color: #00BFFF;
            }
        }
    } 
}