.Header-container {
  // position: fixed;
  position: relative;
  font-family: "Myfont";
  font-weight: 300;
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #01012e;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  padding: 0 40px;
  &:hover {
    cursor: pointer;
  }
 
  .img-header {
  width: 200px;
  overflow: hidden;

  }
  .filter-list{
    font-family: "Myfont";
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 600px;
    background-color: rgb(245, 249, 236);
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: 70px;
    margin-right: 130px;
    object-fit: cover;
    overflow-y: auto;
    overflow-x: hidden;
    
    .filter-item{
      width: 100%;
      display: flex;
      gap: 40px;
      margin-top: 30px;
      margin-left: 20px;
      height: 50px;
    
      .filter-img{
        width: 50px;
        overflow: hidden;
        height: 50px;
        border-radius: 50%;
      }
      .filter-title{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

      }
      .filter-price{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        gap: 5px;
        color: rgb(231, 140, 140);
        

      }
    }
  }
  .header-list {
    display: flex;
    .list-navbar {
      gap: 40px;
      width: 100%;
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      .navbar-item{
        text-decoration: none;
        &.active{
          color: rgb(255, 136, 0);
          border-bottom: 2px solid orange;
        }
          
      }
    }
  }
  .list-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .icon1{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 322px;
        margin-bottom: 30px;

    }
    .input-item {
      width: 272px;
      padding: 5px 10px ;
      border: none;
      outline: none;    
      border-radius:10px ;  
      padding-right: 32px;   
      
    
    }
    .icon {
      position: absolute;
      color: black;
      font-size: 30px;
      margin-left: 173px;
      line-height: 20px;
     
    }
  }
  .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .long{
    text-decoration: none;
    width: 44px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 5px;
  }
}
