*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
    background-color: hsl(49, 50%, 94%);
    
}
@font-face {
    font-family: "myfont";
    src: url(../src/assets/font/RobotoCondensed-Italic-VariableFont_wght.ttf) ;

}