*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
    background-color: hsl(49, 50%, 94%);
      
}
.app-footer{
    border-top: 1px solid #C7C8C9;
    height: 400px;
}
@font-face {
    font-family: "myfont";
    src: url(../src/assets/font/RobotoCondensed-VariableFont_wght.ttf) ;

}