@import '../../assets/stytes/variables.module.scss';

.slick-prev,
.slick-next {
  position: absolute;
  top: 50% !important;
  z-index: 1;
  width: $arrow-width !important;
  height: $arrow-height !important;
  background-color: $arrow-bg-color !important;
  opacity: $arrow-opacity;

  &::before {
    font-size: $arrow-icon-size !important;
    color: $arrow-icon-color !important;
    font-weight: 900;
    opacity: $arrow-icon-opacity;
  }
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.slide-container {
  text-align: center;

  .img-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}