@import '../../assets/stytes/variables.module.scss';

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    height: 600px;
    width: 100%;
    font-family: 'myfont';
    
    .products-list {
        width: 80%;
        height: 100%;
        align-items: center;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        .flash-sale-container {
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: #fff;
          margin-left: 8px;
          margin-bottom: 20px;
          border-radius: 10px;
          .flash-sale {
            color: #FF5A30;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .icon {
              margin: 0 5px;
            }
          }
        
          .countdown {
              display: flex;
              margin-left: 10px;
          }
          
          .time-box {
              background-color: #FF5A30;
              color: #fff;
              padding: 5px;
              margin-left: 5px;
              font-size: 18px;
              font-weight: bold;
              width: 40px;
              text-align: center;
              border-radius: 5px;
          }
          
          .time-box:first-child {
              margin-left: 0;
          }
        }
        .product {
            --accent-color: #ffd426;
            position: relative;
            background: white;
            border-radius: 10px;
            width: calc(25% - 40px);
            height: 450px;
            gap: 15px;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid  rgba(100, 100, 111, 0.2);
            transition: all 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            cursor: pointer;
           
            .image-product {
                position: relative;
                border-radius: 0.7rem;
                margin-bottom: 1rem;
                height: 300px;
                padding: 5px;
                .product-discount {
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  background: #FF5A30;
                  color: white;
                  padding: 8px;
                  font-size: 12px;
                  border-radius: 50%;
                }
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border: 1px solid hsla(0, 1%, 42%, 0.801);
                    border-radius: 0.7rem;
                  }
              }
            .price {
                font-size: 1.2rem;
                font-weight: 600;
                color: #000;
                margin-top: -10px;
                margin-left: 14px;
                text-decoration: line-through;
                opacity: .3;
                span {
                  margin-left: 5px;
                }
            }
            .price-new {
              font-size: 1.2rem;
              font-weight: 600;
              color: #000;
              margin-top: -10px;
              margin-left: 14px;
              span {
                margin-left: 5px;
              }
            }
            .content {
              padding: 0px 0.8rem;
              margin-bottom: 1rem;
              height: 200px;
              .product-name {
                font-weight: 700;
                color: #666666;
                margin-bottom: 5px;
                font-size: 1rem;
              }
            }
            &:hover {
                border: none;
                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
              }
            
              @keyframes bouncing {
                from, to {
                  transform: scale(1, 1);
                }
            
                25% {
                  transform: scale(1.5, 2.1);
                }
            
                50% {
                  transform: scale(2.1, 1.5);
                }
            
                75% {
                  transform: scale(1.5, 2.05);
                }
              }
        }

    }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50% !important;
  z-index: 1;
  background-color: $arrow-bg-color !important;
  opacity: $arrow-opacity;
  border: 1px solid transparent !important;
  width: 30px !important;
  height: 28px !important;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::before {
    color: $arrow-icon-color !important;
    font-weight: 900;
    opacity: $arrow-icon-opacity;
  }
  :hover{
    transform: scale(1.1);  
  }
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.slick-track {
  display: flex !important;
  gap: 10px !important;
}