
$form-bg-color: #1a1a1a;
$form-border-color: #333;
$primary-color: #00bfff;
$input-bg-color: #333;
$input-border-color: rgba(105, 105, 105, 0.397);
$text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.7);
$hover-bg-color: rgba(0, 191, 255, 0.6);
